/* style form and its elements */
#root {
  padding: 15px;
}

form {
  width: 100%;
  max-width: 330px;
  display: flex;
  flex-flow: column;
}

form label {
  font-size: 24px;
  margin: 0;
}

form input {
  margin-top: 10px;
  border-radius: 8px;
}

button {
  margin-top: 10px;
  border-radius: 8px;
}